<section class="text-center">
  <div class="container">
    <div
      class="card mx-4 mx-md-5 shadow-5-strong mb-5"
      style="
        margin-top: 15px;

        background: hsla(0, 0%, 100%, 0.8);

        backdrop-filter: blur(30px);
      "
    >
      <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="col-10">
            <div class="text-center">
              <h3>Todo Application (Forms)</h3>

              <div class="text-start">
                This application has the following sections

                <ul>
                  <li>
                    Input Fields

                    <ol>
                      <li>Name</li>

                      <li>Phone Number</li>

                      <li>Email</li>
                    </ol>
                  </li>

                  <li>Add Button</li>

                  <li>Edit</li>

                  <li>Delete</li>
                </ul>
              </div>

              <div class="text-start">
                Technology used to build this application

                <ul>
                  <li>Angular</li>

                  <li>HTML</li>

                  <li>Bootstrap</li>

                  <li>Typescript</li>

                  <li>CSS</li>
                </ul>
              </div>

              <div class="text-start">
                Steps used to build this application:-

                <ol>
                  <li>To add Item to the list.</li>

                  <li>
                    To Edit the item in the list. Edit button will
                    <span class="fw-bold"
                      >prefill the details of the item.</span
                    >
                  </li>

                  <li>To Delete the item from the list.</li>
                </ol>
              </div>

              <div class="text-start">
                Click the below button to visit site!
              </div>
            </div>

            <br />

            <a class="btn btn-primary bi bi-arrow-right" routerLink="/details">
              Continue</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
