<div class="container p-5">
  <div
    class="row centered-form d-flex justify-content-center bg-body-secondary"
  >
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">UserDetails</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="col-xs-6"> 
                
                <div class="form-group my-3"> 
                    <label for="">Name:</label>
                  <input
                    type="text"
                    [(ngModel)]="name"
                    class="form-control input-sm" 
                    name="name"
                  />
                </div>
              </div>
            </div>

            <div class="form-group my-3"> 
                <label for="">Email:</label>
              <input
                type="email"
                name="email"
                [(ngModel)]="email"
                class="form-control input-sm"
               
              />
            </div>

            <div class="row">
              <div class="col-xs-6 my-3">
                <div class="form-group">
                    <label for="">Number:</label>
                  <input
                    type="number"
                    name="phone"
                    [(ngModel)]="phone"
                    class="form-control input-sm"
                  />
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-md-end"> 
                <button (click)="add()" class="btn btn-primary text-end">{{buttonText}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-5 mx-3">
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let detail of details">
      <tr>
        <td>{{detail.name}}</td>
        <td>{{detail.phone}}</td>
        <td>{{detail.email}}</td>
        <div class="text-center ">
            <button class="btn btn-primary px-3" (click)="edit(detail.id)">Edit</button>
            <button class="btn btn-danger px-3" (click)="delete(detail.id)">delete</button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
